body {
	height: 100%;
	background-image: url(maxresdefault.jpg);
	background-color:black;
	background-attachment: scroll;
}


h1 {
	font-family: 'Russo One', sans-serif;
	font-weight: bold;
	color: yellow;
}

p {
	color:yellow;
	display:inline;
	font-family: 'Open Sans Condensed', sans-serif;
}

table {
	font-family: 'Open Sans Condensed', sans-serif;
	color:yellow;
}

table, th, td {
    border: 1px solid;
}

#avatar {
	float:right;
	clear:both;
}

#lightSide a {
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
	text-decoration:none;
	margin:2em;
	color:white;
	transition: 0.2s;
	text-shadow: 0px 0px 10px #4B81FC,0px 0px 20px #1C61FF,0px 0px 30px #1C61FF,0px 0px 40px #0752FF,0px 0px 50px #0752FF,0px 0px 60px #0752FF;

}

#lightSide a:hover {
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
	text-decoration:none;
	margin:2em;
	color:yellow;
	text-shadow: 0px 0px 10px #4B81FC,0px 0px 20px #4B81FC,0px 0px 30px #4B81FC,0px 0px 40px #0752FF,0px 0px 50px #0752FF,0px 0px 50px #0752FF,0px 0px 60px #0752FF,0px 0px 60px #0752FF;
}

#darkSide a {
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
	text-decoration:none;
	margin:2em;
	color:white;
	transition: 0.2s;
	text-shadow: 0px 0px 10px #E90000,0px 0px 20px #BB0000,0px 0px 30px #BB0000,0px 0px 40px #900000,0px 0px 50px #900000,0px 0px 60px #900000;
}

#darkSide a:hover {
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
	text-decoration:none;
	margin:2em;
	color:yellow;
	text-shadow: 0px 0px 10px #E90000,0px 0px 20px #E90000,0px 0px 30px #E90000,0px 0px 40px #BB0000,0px 0px 50px #BB0000,0px 0px 50px #BB0000,0px 0px 60px #900000,0px 0px 60px #900000
}

.content {
	background-color:transparent;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
	color:white;
	clear:both;
	font-size: 1.2em;
	padding:5px;
	overflow:auto;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 100px;
	margin-bottom: 50px;
	border-style:solid;
	border-width:10px;
	border-color:yellow;
	box-shadow: 0px 0px 5px yellow;
}

.sampleContent {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
	font-size:0.6em;
}

.errorMessage {
	font-family: 'Russo One', sans-serif;
	font-weight: bold;
	color: yellow;
}

.statusMessage {
	font-family: 'Russo One', sans-serif;
	font-weight: bold;
	color: yellow;
}

.pubDate {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:0.8em;
	color:yellow;

}

#pubDate {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1em;
	clear:both;
	color:yellow;
}

#totalRows {
	float:left;
	clear:both;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1.5em;
	color:yellow;
}

form {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1em;
	text-shadow: 4px 4px 4px #aaa;
}

input {
	color:white;
	border:solid;
	border-color: yellow;
	border-width: 3px;
	background-color:transparent;
	box-shadow: 3px white;
}

textarea {
	color:white;
	border:solid;
	border-color: yellow;
	background-color:transparent;
	width:70%;
	height: 10%;
	box-shadow: 3px white;
}

label {
	font-size:1em;
	color:yellow;
	text-shadow: 0px 0px 4px white;

}

.radio {
	font-size:1em;
	color:yellow;
	text-shadow: 0px 0px 4px white;
}

.button {
	border:solid;
	border-color: #900000;
	background-color:#BB0000;
	box-shadow: 5px #900000;

}
.button:hover {
	border:solid;
	border-color: #900000;
	background-color:#E90000;
	box-shadow: 5px #900000;
}

.footer {
	position:absolute;
	clear:both;
	border-top:solid;
	border-color: yellow;
}
.adminHeader {
	float:right;
	text-align: right;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1.3em;

}

#articleList {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1.3em;
	color:yellow;
}

#comments {
	width:40%;
	font-family: 'Open Sans Condensed', sans-serif;
	color:yellow;
}

#comments dt {
	font-size:0.9em;
}

#comments dd {
	font-size:1.3em;
}

#comments a {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	color:red;
}

#comment {
	width:10em;
	border:solid 1px;
	border-color:yellow;
}

#rating {
	border:solid 1px;
	background-color: black;
	position:absolute;
	margin-left:60em;
	color:yellow;
}